body{
    background-color: blue;
}
button{
    padding: 5px;
    color: aqua;
    background-color: black;
    
}

button:hover{
    color:black;
    background-color: aqua;
}
#editor {
    overflow:scroll; 
    max-height:300px;
    height: 15em;
    border: 1px solid #ccc;
   border-radius: 4px;
}
#editor table {
   width: 100%
}
#editor table tr th {
   font-size: 80%;
   padding: 0.5em;
   font-align: center;
}
#editor table tr td {
   padding: 0.3em;
}
form .row {
 border: 1px solid #ccc;
 border-radius: 4px;
 margin-left: 0px;
 margin-right: 0px;
}
div.checkbox {
   margin-left: 12px;
   padding-top: 6px;
   padding-bottom: 6px;
}
.twitter-typeahead {
   width: 100%;
}
.to {
   padding: 4px;
   position: relative;
}
.to .icon-remove-sign {
   color: #ccc;
   cursor: pointer;
}
.to-dropdown {
   display: float;
   position: absolute;
   left: -1.9em;
   top: 0.4em;
   width: 4em;
}
.to .to-dropdown {
   left: -4.2em;
}
.to .to-dropdown > span {
   float: right;
}
.tt-dropdown-menu {
background: white;
border-radius: 4px;
padding: 12px;
margin: 1px;
border: solid 1px rgb(102, 175, 233);
outline: 0px none;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}