.input-group .bootstrap-tagsinput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}
.input-group-btn {
    height: 0px;
}
.input-group-btn .btn {
    height: 100%;
}
#send{
    color: royalblue;
    background-color: grey;
}

form{
    align-items: center;
    height: 300px;
    font-size: 1.5em;
}
.alert-tag {
    display: inline-block;
    padding: 5px;
    padding-bottom:2px;
    margin: 5px;
}
.alert-tag.alert-dismissible {
    padding-right: 25px;
}

 fieldset{
    padding: 30px;
    border-radius: 20px;
    background-color: #003478;
 }